---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "High Quality Videos",
    description:
      "Build your brand with the best quality videos on the platform. Bring the power of unbeatable editing and catchy hooks to every video.",
    icon: "mdi:video",
  },
  {
    title: "Personalized Scripting",
    description:
      "Get personalized scripting for every ad/video/reel we put out that relates to your target audience and works best for your brand.",
    icon: "mdi:script",
  },
  {
    title: "Influencer Marketing",
    description:
      "We know all the ways to reach your audience, Influencer marketing is very important and we've got you covered with the best influencers who'll bring your brand to the public.  ",
    icon: "heroicons-solid:speakerphone",
  },
  {
    title: "Analytics and Performance Reports",
    description:
      "Get performance reports and proper analytics of how the ad campaign worked for your brand and how to increase the views and clicks.",
    icon: "carbon:report",
  },
  {
    title: "Consistent Quality",
    description:
      "We don't sacrifice on quality. Get consistent quality for everything, be it reels, videos or ads.",
    icon: "material-symbols-light:high-quality",
  },
  {
    title: "Impactful Insights & Ideas",
    description:
      "Knowing the market, we can provide ideas for your brand and how to reach your target audience.",
    icon: "mdi:idea",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Videos so nice, you'll watch them thrice. 👀
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Arkade makes sure your videos are talked about. We make sure you're also known for the quality of your videos.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
<div class="video-container mx-auto max-w-full mt-8 flex justify-between">
  <video class="w-full md:w-1/3 px-1" autoplay muted loop>
    <source src="src/assets/homepage_loop_1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video class="w-full md:w-1/3 px-1" autoplay muted loop>
    <source src="src/assets/homepage_loop_2.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video class="w-full md:w-1/3 px-1" autoplay muted loop>
    <source src="src/assets/homepage_loop_3.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
